<div>
    <h1>CHATS</h1>
    <input id="chatbox">
    {{#each logs as |obj|}}
    {{obj.socketid}}: {{obj.message}}
    {{/each}}
    <div id="message-container"><p id="log"></p></div>
    
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
